#main-navbar .logo-container {
    flex: 2;
}

footer .container {
    grid-template-columns: repeat(2, 1fr);
}

#showcase .showcase-container {
    grid-template-columns: repeat(1, 1fr);
}

#news .news-container {
    grid-template-columns: repeat(2, 1fr);
}

#news .news-container .news-content {
    display: flex;
    flex-direction: column;
}

#news .news-container .news-one {
    grid-column: 1 / span 1;
}

#news .news-container .news-two {
    grid-column: 2 / span 1;
}

#news .news-container .news-three {
    grid-column: 1 / span 1;
}

#news .news-container .news-four {
    grid-column: 2 / span 1;
}

#news .news-container .news-five {
    grid-column: 1 / span 1;
}

#news .news-container .news-six {
    grid-column: 2 / span 1;
}

#news .news-container .news-seven {
    grid-column: 1 / span 1;
}